[Unit]
Description=Jenkins agent
Wants=network.target
After=network.target

[Service]
ExecStart={{ paths.bash }} -l -c '{{ paths.java }} -jar /home/jenkins/slave.jar -jnlpUrl "{{ jenkins_url }}" -secret "{{ jenkins_secret }}"'
User=jenkins
Group=jenkins
WorkingDirectory=/home/jenkins
Restart=always

[Install]
WantedBy=multi-user.target
